@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #7F2ED5;
    --bg: #060709;
    --text: #FFFFFF;
    --opacity-low: 0.5;
    --max-width-content: 1000px; 
    --padding-sides: 24px;
}


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: var(--text);
    min-height: 100vh; 
}

h1, h2, h3, p {
    margin-top: 0;
}

.wrapper {
    width: 100%;
    display: flex; 
    justify-content: center; 
}

.container {
    width: 100%; 
    max-width: var(--max-width-content); 
    margin: 0 auto; 
    padding: 0 var(--padding-sides); 
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-container {
    width: 100%; 
    max-width: var(--max-width-content); 
    margin: 0 auto; 
    display: flex;
    justify-content: flex-end;
    padding: 0.75rem var(--padding-sides); 
}

.languages {
    font-weight: bold;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.lang-link {
    text-decoration: none;
    color: var(--text);
}

.lang-link.inactive, .languages span { 
    opacity: var(--opacity-low);
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 500px; 
    padding-top: 40px;
}

.titulo {
    font-size: 30px;
    line-height: 30px;
    opacity: 0.9;
}

.titulo h2 {
    font-weight: bold;
    font-size: 30px;
}

.banner-social {
    margin-top: 30px;
    display: flex;
    gap: 40px;
    font-weight: 800;
}

.banner-social a {
    text-decoration: none;
    color: var(--primary);
}


.faixa {
    background-color: var(--primary);
    width: 100%;
    height: 35px;
    color: var(--bg); 
    font-weight: 800;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.faixa {
    background-color: var(--primary);
    width: 100%;
    height: 35px;
    color: var(--bg);
    font-weight: 800;
    display: flex;
    align-items: center;
    overflow: hidden; 
}

.faixa p {
    display: flex; 
    white-space: nowrap;
    animation: scroll-right 7s linear infinite; 
}


.faixa p::after {
    content: "/front-end /sites/sistemas/front-end/sites/sistemas/front-end"; 
}

@keyframes scroll-right {
    0% { 
        transform: translateX(0%); 
    }
    100% { 
        transform: translateX(100%); 
    }
}



.about-me {
    padding: 80px 0;
}

.about-container {
    display: flex;
    gap: 50px;
    align-items: center;
}

.photo {

    width: 250px; 
    height: 250px;
    flex-shrink: 0; 
    border-radius: 50%;
    background-color: red;
    background-size: cover;
    background-position: center;
}

.about-me-tittle span {
    color: var(--primary);
}
.about-me-tittle h1 { 
    font-size: 50px;
}
.about-me-tittle p {
    opacity: var(--opacity-low);
}

.skills {
    padding: 100px 0;
}

.skills-tittle {
    font-size: 50px;
    line-height: 1.1;
    opacity: 0.9;
    max-width: 700px; /
}
.skills-tittle span { 
    color: #7F2ED5;
}

.skills-area {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.skills-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}

.skills-item h3 {
    margin-bottom: 0;
}

.skills-item p {
    opacity: var(--opacity-low);
}

.projects {
    padding-bottom: 80px;
}

.project-tittle {
    text-align: center;
    font-size: clamp(30px, 5vw, 40px);
    margin-top: 80px;
    margin-bottom: 40px; 
}

.project-area { 

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-bottom: 60px; 
}

.project-item-area {

    flex: 1; 
}

.project-item { 
    display: flex;
    flex-direction: column;
}

.project-item h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.project-description { 
    opacity: var(--opacity-low); 
    margin-bottom: 0.5rem;
}

.tecs { 
    color: var(--primary);
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.buttons-area { 
    display: flex;
    gap: 20px;
}

.button { 
    padding: 10px 20px;
    background-color: var(--primary);
    border-radius: 50px;
    text-decoration: none;
    color: var(--bg);
    font-weight: 700;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #9c4eff; 
}

.project-photo-area {

    flex: 1; 
    display: flex;
    justify-content: flex-end; 
    height: 100%;
}

.project-photo { 

    width: 100%; 
    max-width: 400px;
    height: 300px;
    background-color: red;
}


.footer {
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}


@media (max-width: 1024px) {
    .skills-tittle {
        font-size: 48px;
        line-height: 52px;
    }
    
    .about-container {
        flex-direction: column;
        text-align: center;
    }


    .project-area {
        flex-direction: column;
    }

    .project-photo-area {
        order: -1; 
        justify-content: center;
        margin-bottom: 20px;
    }

    .project-photo {
        max-width: 100%;
    }

    .project-item-area {
        text-align: center;
    }

    .buttons-area {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    :root {
        --padding-sides: 16px; 
    }
    .banner-titulo { 
        font-size: 30px;
        line-height: 20px;
    }
    .photo {
        width: 200px;
        height: 200px;
    }

    .skills-area {
        grid-template-columns: 1fr;
    }

    .titulo {
        font-size: 24px;
        line-height: 30px;
    }

    .banner-social {
        gap: 20px;
    }
}